* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: pokemonFont;
  src: url(./assets/PKMN_RBYGSC.ttf);
}

body {
  background: url(./images/pokemon-trophy-in-the-grass-wallpaper-1920x1080-wallpaper.jpeg) no-repeat fixed center;
  font-family: pokemonFont;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

h1,
h2 {
  margin: 1rem;
}

.gen_buttons,
.type_buttons {
  margin: 1rem 0;
}

button {
  padding: 0.4rem 0.8rem;
  margin: 0.2rem;
  border: none;
  border-radius: 45px;
  background-color: #333;
  color: inherit;
  cursor: pointer;
  box-shadow: 1px 1px 15px rgb(0, 0, 0, 0.7);
}

input,
button {
  font-family: inherit;
}

input {
  padding: 12px;
  width: 280px;
  border-radius: 10px;
  border: none;
  margin: 1rem;
}

li {
  /* Created with https://www.css-gradient.com */
  background: #27796D;
  background: -webkit-linear-gradient(bottom right, #27796D, #0C373D);
  background: -moz-linear-gradient(bottom right, #27796D, #0C373D);
  background: linear-gradient(to top left, #27796D, #0C373D);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 10px;
  color: inherit;
  padding: 1rem;
}

li:hover {
  transform: scale(1.1);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 1rem;
}

img {
  width: 150px;
  height: 150px;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* Type buttons */

#normal {
  background-color: #a8a77a;
}

#fire {
  background-color: #ee8130;
}

#water {
  background-color: #6390f0;
}

#electric {
  background-color: #f7d02c;
}

#grass {
  background-color: #7ac74c;
}

#ice {
  background-color: #96d9d6;
}

#fighting {
  background-color: #c22e28;
}

#poison {
  background-color: #a33ea1;
}

#ground {
  background-color: #e2bf65;
}

#flying {
  background-color: #a98ff3;
}

#psychic {
  background-color: #f95587;
}

#bug {
  background-color: #a6b91a;
}

#rock {
  background-color: #b6a136;
}

#ghost {
  background-color: #735797;
}

#dragon {
  background-color: #6f35fc;
}

#dark {
  background-color: #705746;
}

#steel {
  background-color: #b7b7ce;
}

#fairy {
  background-color: #d685ad;
}

@media (max-width:378px) {

  body {
    background-size: cover;
  }
  
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 14px;
  }
  
  input, button {
    font-size: 10px;
  }

  h2 {
    font-size: 1rem;
    text-align: center;
  }

  li {
    margin: 0.5rem;
    font-size: 8px;
  }

  img {
    width: 75px;
    height: 75px;
    padding: 0.5rem;
  }

}